.custom-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
  border-radius: 24px;
  cursor: pointer;
  align-self: stretch;
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.custom-button.code-button {
  background-color: #0a3871;
  color: white;
}

.custom-button.decode-button {
  border-color: #0a3871;
  color: #0a3871;
  background-color: transparent;
}

.copy-button {
  background-color: #0a3871;
  color: white;
  border-radius: 24px;
  padding: 8px 16px;
  cursor: pointer;
  align-self: center;
  margin-top: 16px;
}