@import "components/button.css";
@import "components/answer.css";

/* Estilos globais */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter, sans-serif";
  line-height: 150%;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #f3f5fc;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-header {
  margin-bottom: 56px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(10, 56, 113, 1);
  border: none;
  background-color: transparent;
}

.input::placeholder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #0a3871;
  font-size: 32px;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.alert-caps {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.exclamation-icon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

.alert {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #343a40;
  margin: 0;
}
